table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 7px;
  background-color: #0000006c;
  backdrop-filter: blur(8px);
  
}

thead {
  border-bottom: 2px solid #a7d1f1;
}

th {
  padding: 1rem 0.5rem;
  font-weight: 700;
  color: #9ec5e2;
}

td {
  padding: 0.7rem 0.5rem;
  color: #0e0d0d;
}

tr:hover td {
  background-color: #00000048;
  color: #fff;
  transition: all ease 0.3s;
}