table {
  border: 2px solid #0e0e0f;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 7px;
  background-color: #bc9d9d6c;
}

thead {
  border: 2px solid #0e0e0f;
  border-radius: 7%15%;

}

th {
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1rem 0.5rem;
  font-weight: 700;
  background-color: #8e129a;;
}


tr:hover td {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a82abc23;
  color: #8e129a;
  transition: all ease 0.3s;
}

td {
  border-bottom:  2px solid #0e0e0f;
  padding: 0.7rem 0.5rem;
  color: #0d0e0e;
}.s{
  margin-bottom: 2%;
}